#renderer
== javascript_include_tag "three.lib"

/!-http://blog.project-nya.jp/1669 より
script#vertexshader type="x-shader/x-vertex"
  == File.read('./source/shader/fire/fire1.vert')

script#fragmentshader type="x-shader/x-fragment"
  == File.read('./source/shader/fire/fire1.frag')


== javascript_include_tag "pages/shader/ShaderTest1"
