#renderer
.ccinfo: a href='http://www.3dvia.com/models/A1DB8597A9BB8D9F/toilet-bowl' model info

== javascript_include_tag "three.lib"
== javascript_include_tag "pages/model/DaeWC"

script
  | new DaeWC().startLoop()