---
titie: '地獄のThree.js習作'
colofulBgClass: true
---

.indexWelcome
  h1.indexWelcome__title Three.js Study


  ul
    /li: a href='pages/model/sidonia_spirograph.html' シドニアでスピログラフ
    li: a href='pages/model/sidonia.html' シドニア
    li: a href='pages/model/dae-wc.html' トイレ
    li: a href='pages/audio/simplevisualizer.html' simple visualizer
    li: a href='pages/uv/uv-mozaic.html' UV Mozaic
    li: a href='pages/shader/test1.html' Shaderテスト
    li: a href='pages/model/sofmap.html' ソフマップ
    li: a href='pages/model/senpuki.html' 扇風機

    li: a href='pages/text/sensors-text.html' SensorsText
    li: a href='pages/text/text-vertex-color.html' TextVertexColor
    li: a href='pages/model/dennys.html' デニーズ
    li: a href='pages/text/text-outline.html' text outline
    li: a href='pages/boids/test1.html' boid1
    li: a href='pages/basic/flag-parlin.html' parlin flag
    li: a href='pages/basic/flag2.html' bapa flag2
    li: a href='pages/basic/flag1.html' bapa flag1
    /li: a href='pages/text/word-art-1.html' word art(作ってない)
    li: a href='pages/basic/sphere.html' sphere test
    li: a href='pages/basic/ground.html' ground test
    /li: a href='pages/dmm/eroneta-css3d.html' eroneta-css3d(作ってない)
    li: a href='pages/text/basic_text.html' Basic Text
    /li: a href='ojigi.html' お辞儀
    li: a href='wall.html' SkyBox + geometry.verticesNeedUpdate = true
    li: a href='simpletest.html' 箱100個テスト
    li: a href='pages/basic/baseworld.html' Baseクラスのテスト


  #author
    a href='http://twitter.com/katapad' @katapad
    a href='http://unko.me' http://unko.me
    a href='https://github.com/unko-me/threejs-study' github
